<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ActivityCodes" value="C:\Users\BajatA\Desktop\Projects\ActivityCodes.xlsx" /> <!-- Required for 'Activity Codes & Resource Codes' -->
    <add key="MuToCu" value="C:\Users\BajatA\Desktop\Projects\MuToCu.xlsx" /> <!-- Required for 'Resource Codes' -->    
    <add key="ResourceCodes" value="C:\Users\BajatA\Desktop\Projects\ResourceCodes.xlsx" /> <!-- Required for 'Resource Codes' -->
    <add key="TenantId" value="ConEdPS" />        
    <add key="ApiKeyClientId" value="C1xTNSzVDZ1TP7J8a6ho1s61WJA236gc" />
    <add key="ApiKeySecret" value="NJkHz4iz7rL0PfR2quhSNFkfSN0bDWoi5Kvm-A0RL6j6FA2or7nHaX0T63qcCVC3" />
    <add key="ServiceName" value="WmsIntegration" />
  </appSettings>
</configuration>